:root{
    --body-color: #2D2D2D;
    --white: #fff;
    --theme-blue: #1F57C3;
    --theme-blue-hover: #0d45b5;
    --theme-green: #71BB1E;
    --theme-red: #D50000;
    --theme-yellow: #FEB71F;
}

