:root{
    --body-font-family: 'Poppins', sans-serif;
    --body-font-size: clamp(0.9375rem, 0.8355rem + 0.1645vw, 1rem);
    --body-line-height: 1.5;
    --body-word-spacing: 0.25vw;
    --theme-transition: all .3s linear;
}